#app-mount::before {
    content: "";
    background: var(--background-image);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* position*/
    width: 100%;
    filter: blur(var(--bg-blur));
    opacity: var(--bg-opacity);
}
/*Transparent panels*/
.appMount-3lHmkl, body {
    background-color: var(--bg-main-panels);
}
.app-2rEoOp { /*Discord Background*/
    background-color: var(--bg-main-panels);
}
