/**
 * @name Chouquette Light Glass
 * @author Shuutoka
 * @description A simple and cutomizable theme. Allow you to put an image in background. preserve discord shape.
 * @version 1.2.0.2
 * @source https://github.com/shuutoka/Chouquette-Ligh-Glass
 * @website https://utip.io/shuutoka
 */


/*Well, I confess, I'm not very good at writing or theme discord. So, for the spelling mistakes in the comments... sorry... and if I forgot to modify a place in the discord, let me know ! 
And yes I am a beginner coder, and I learned a lot by looking at the code of Akame No Kill, Clear Vision and BlurpleRecolor. 
Kisses, Shuutoka#2047
---------------------------------------------------------------------
HOW TO MODIFY THIS THEME 

I have commented on everything. So you can scroll and change the colors, transparency, add your own code etc ....
 otherwise to change the background image, you need the link of an image
  (not the website but the image, so the address must end with .png or .gif for example) that you will paste on line 20 instead of the default image. 
  That's it! :)
----------------------------------------------------------------------
and excuse me I am a French dyslexic
*/



#app-mount .app-2rEoOp {
  background-color: black;
  background-size: cover; /* if you want to resize or make a mosaic of your image enter the size like this : 1920px 1080px */
  background-image: url(https://cdn.discordapp.com/attachments/616617359041495040/889529770189144114/honkai-impact-3rd-herrscher-of-flamescion-live-2d-wallpaper-live-2d-herrscher-of-flamescion.gif); /*past the URL of your image, you can use a discord link or an imgur... or what ever you want.*/
}
.layers-3iHuyZ {/*don't delete this line*/
  background-color: rgba(0, 0, 0, 0.616); /*you CAN delete this one if you want or change the color of the filter, if it's ugly it's your fault*/
}/*don't delete this line*/

.standardSidebarView-3F1I7i, /*don't delete this */
.sidebarRegionScroller-3MXcoP, /* this modify the side bar you can delet/change it if you want*/
.contentRegion-3nDuYy,/*this is for the main region, you can delet/modify it but it can look strange*/
.bg-h5JY_x, /*this is the background, if you delete it, you will get a true black background*/
.theme-dark .layer-3QrUeG,
.contentRegionScroller-26nc1e, /* oh hey, this code isn't so complicated right ?*/
.scroller-305q3I { /*don't delete this line*/
  background-color: transparent;/*don't delete this line*/
}/*don't delete this line*/


.guildSeparator-33mFX6, .scroller-1Bvpku, .wrapper-3NnKdC { /* allow you to see your image*/
  background: none;
}

/*you will see your image trough the text bar, delet it to recover the legacy one*/
.scrollableContainer-2NUZem {
  background-color: transparent;
}

.channelTextArea-rNsIhG {
  background-color: rgba(0, 0, 0, .3); /*text bar color*/
}

.searchBar-3dMhjb {
  border-radius: 0;
  color: white;
  background-color: rgba(0, 0, 0, .3); /*searchBar*/
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
  color: rgba(255, 255, 255, 0.726); /* search inscription (top right)*/
}

.container-3w7J-x, .sidebar-2K8pFh, .panels-j1Uci_, .chat-3bRxxu, .messages-3amgkR {
  background-color: transparent; /* main space of discord, don't delete this line*/
}

.theme-dark .container-1r6BKw {
  color: white;
  background-color: transparent; /* channel name& info*/
}


.childWrapper-anI2G9 {
  background-color: transparent; /* in the server bar : discord button and imageless servers will be transparent, you can delete it */
  color: white;
}

.children-19S4PO:after, .theme-dark .form-2fGMdU:before, .theme-dark .option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q:after, .divider-3FBTu8 {
  background: none; /* if you delete, the search bar will be ugly... i guess */
}


.theme-dark .container-3ayLPN { /* search bar color option */
  background-color: #000000dc;
}

.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, .theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, .theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, .theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a,
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .option-96V44q .answer-1n6g43 {
  color: white; /*search bar result color*/
}


.theme-dark .option-96V44q .filter-3Y_im- { /*search bar option color*/
  color: #8f8f8f;
}


.theme-dark .focused-2bY0OD, .theme-dark .option-96V44q.selected-rZcOL- { /*hover in the search bar*/
  background-color: rgba(216, 216, 221, 0.2);
}

.members-1998pB {
  background-color: rgba(0,0,0,.3);/* don't delete this... it's gonna be ugly*/
}

.members-1998pB>div {
  background-color: transparent; /* don't delete this... it's gonna be ugly*/
}

@.body-bvcIjN, .activity-2Gy-9S, .member-3-YXUe, .clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
  color: rgb(228, 228, 228); /*change the global color of people. activate it by delete the "@". you can also edit it if you want */
}

.contentWrapper-SvZHNd,
.emojiPicker-3PwZFl {
  border-radius: 0 0 7px 7px;
  background:  rgba(0, 0, 0, 0.719); /*adjust the color for the emote box*/
}

.diversityEmojiItem-L6_IXw:hover {  /* the zone were the server name is displayed*/
  background-color: rgba(0, 0, 0, 0.288);
}

.wrapper-1-Fsb8 {
  background-color: rgba(0, 0, 0, 0.048); /*wrapper*/
}

.inspector-S2gM3e, .wrapper-2Gsate { /*emoji inspector*/
  background: none;
}
 
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, /* top buttons color in the "friends menu"*/
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  background-color: #5c5859;
}

.privateChannels-1nO12o, .scroller-1JbKMe, .theme-dark .container-1D34oG,
.nowPlayingColumn-2sl4cE, .scroller-1IIF0A, .scroller-2XE8rp, .applicationStore-1pNvnv,
.scroller-9moviB {
  background: none;  /* background in the "friend menu"*/
}

.wrapper-3D2qGf {
  background-color: rgba(0, 0, 0, .23);
} /* online friends card, you can edit it */


.container-lRFx4q {
  background-color: rgba(0, 0, 0, .23);
} /* container for online friend you can edit it if you want*/

.theme-dark .inset-3sAvek, .section-2gLsgF, .header-2mZ9Ov, .titleContainer-2CXtJo {
  background: none;
} /* activity of your friends (like "Play on Xbox") in the container, you can edit/delete it if you want*/

.actionButton-uPB8Fs { /*buttons shape and color. 0xp = square, 20 = round*/
  border-radius: 14px;
  color: white;
  background-color: rgba(37, 36, 36, 0.6);
}

.actionButton-uPB8Fs:hover, .actionButton-uPB8Fs.highlight-Lf97TE {
  background-color: #5a5a5a;
} /* Hover action buttons color */

.theme-dark .attachment-33OFj0, .embedFull-2tM8--, .wrapper-35wsBm {
  border-color: transparent;
  background-color: rgba(0,0,0,0.3);
} /* attachement and link, you can edit the color*/

.theme-dark .autocomplete-1vrmpx, .theme-dark .uploadModal-2ifh8j {
  background: rgba(0, 0, 0, 0.842);
} /*emoji selector in the text bar*/

.theme-dark .selected-1Tbx07 {
  background-color: #3b3834e5;
} /* hover in the emoji selector of the text bar*/

/*jjjjjjjjjjjjjjjjjjjjjjjjjjjjj
jjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
jjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
jjjjjjjjjjjjjjjjjjjjjjjjjjjjj
jjjjjjjjjjjjjjjjjjjjjjjjjjjj <-- this is a check point for me, dont worry*/


